.inputField {
  width         : 60vw;
  height        : 50vh;
  display       : flex;
  flex-direction: column;
}

.dateWrap {
  margin-top     : 16px;
  width          : 100%;
  display        : flex;
  justify-content: space-between;
}

.halfWidth {
  width: 48%;
}

.d-none {
  display: none;
}
