.inputField {
  width          : 60vw;
  height         : 50vh;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
}

.dateWrap {
  margin-top     : 16px;
  width          : 100%;
  display        : flex;
  justify-content: space-between;
}

.halfWidth {
  width: 48%;
}

.fullWidth {
  display        : flex;
  justify-content: space-between;
}

.d-none {
  display: none;
}

.ml-2 {
  display: flex;

  p {
    margin-right: 32px;
  }

}

.btns {
  button {
    margin-right: 16px;
  }
}

.assign-section {
  mat-checkbox {
    margin-right: 16px;
  }

}

.detailsView {
  width          : 60vw;
  height         : 50vh;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
}
