<h1 mat-dialog-title>Edit Ticket</h1>
<div mat-dialog-content class="inputField">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input [(ngModel)]='note.title' matInput placeholder="Enter title">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Summary</mat-label>
    <textarea maxlength="250" [(ngModel)]='note.summary' matInput></textarea>
  </mat-form-field>
</div>
<button mat-button color="primary" (click)="updateNote()">Save</button>
<button mat-button color="warn" mat-dialog-close>Cancel</button>
