.inputField {
  width          : 60vw;
  height         : 50vh;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
}

.dateWrap {
  margin-top     : 16px;
  width          : 100%;
  display        : flex;
  justify-content: space-between;
}

.halfWidth {
  width: 48%;
}

.d-none {
  display: none;
}

.btns {
  button {
    margin-right: 16px;
  }
}

.assign-section {
  mat-checkbox {
    margin-right: 16px;
  }

}
