.toolbar {
  display         : flex;
  height          : max-content;
  justify-content : space-between;
  background-color: #3f51b5;
  color           : white;
  padding         : 16px;

}

.weekSelectorBtn {
  background   : transparent;
  border       : 2px solid white;
  border-radius: 100%;
  color        : white;
  padding      : 5px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.356);
    cursor          : pointer;
  }
}

.ticketsFilter {

  background-color: #3f51b5;
  color           : white;
  width           : 200px;
  border          : 2px solid white;
  padding         : 8px;
  border-radius   : 5px;
  font-size       : large;
  cursor          : pointer;
}

.toolbarDark,
.ticketsFilterDark {
  background-color: #e91e63;
}

@media(max-width: 800px) {
  .toolbar {
    flex-wrap      : wrap;
    justify-content: space-around;

  }

  .weekSelectorBtn {
    margin: 16px;
  }
}
