<div class="tableWrap" [class.tableWrapDark]="isDarkMode">

  <table class="tableSmall" [class.table]="isFrontend && isBackend && isSecurity">
    <!-- Table Header Row -->
    <tr class="firstRow" [class.darkPrimary]="isDarkMode">
      <th></th>
      <th>{{ calendarWeekStart | date: "dd.MM" }}</th>
      <th>{{ (calendarWeekStart)+(oneDay*1) | date: "dd.MM" }}</th>
      <th>{{ (calendarWeekStart)+(oneDay*2) | date: "dd.MM" }}</th>
      <th>{{ (calendarWeekStart)+(oneDay*3) | date: "dd.MM" }}</th>
      <th>{{ (calendarWeekStart)+(oneDay*4) | date: "dd.MM" }}</th>
    </tr>
    <!-- Table Frontend Row -->
    <tr *ngIf="isFrontend" [class.darkBg]="isDarkMode">
      <td>{{labels[0]?.text}}</td>
      <td *ngFor="let item of [].constructor(5); let i = index ">
        <div class="taskCardWrap" *ngFor="let note of mappedTasks.frontend[startIndex+i]; let j = index"
          [ngStyle]="{'left.px': j*stackOffsetX, 'top.px': j*stackOffsetY,'height.px': cardHeight, 'width.px' : (cardWidth * ((note.endDate/1000 - note.startDate/1000) / (3600 * 24) + 1))}"
          matTooltip={{note.summary}} matTooltipPosition="above" matTooltipClass="card-tooltip"
          [class.empty]="!note.labels.includes(1)">
          <mat-card class="taskCard" [class.darkCard]="isDarkMode" (click)="editNote(note)">
            <mat-card-title><span class="notesId rem-border"> {{ note.id }} </span>{{ note.title }}</mat-card-title>
            <mat-card-content> <span class="summaryContent">{{ note.summary }}</span>
            </mat-card-content>
            <span class="dots">...</span>
            <mat-card-footer><span class="footerLeft">
                <span>Start date {{note.startDate | date: "dd.MM"}}</span>
                <span>Duration {{ (note.endDate/1000 - note.startDate/1000) / (3600 * 24) + 1 }} Day<span
                    *ngIf="note.endDate-note.startDate > 86300">'s</span></span>
              </span><span class="footerRight">{{labels[0]?.text}}</span>
            </mat-card-footer>
          </mat-card>
        </div>
      </td>

    </tr>
    <!-- Table Backend Row -->
    <tr *ngIf="isBackend" [class.darkBg]="isDarkMode">

      <td>{{labels[1]?.text}}</td>
      <td *ngFor="let item of [].constructor(5); let i = index ">
        <div class="taskCardWrap" *ngFor="let note of mappedTasks.backend[startIndex+i]; let j = index"
          [ngStyle]="{'left.px': j*stackOffsetX, 'top.px': j*stackOffsetY,'height.px': cardHeight, 'width.px' : (cardWidth * ((note.endDate/1000 - note.startDate/1000) / (3600 * 24) + 1))}"
          matTooltip={{note.summary}} matTooltipPosition="above" matTooltipClass="card-tooltip"
          [class.empty]="!note.labels.includes(2)">
          <mat-card class="taskCard" [class.darkCard]="isDarkMode" (click)="editNote(note)">
            <mat-card-title><span class="notesId rem-border"> {{ note.id }} </span>{{ note.title }}</mat-card-title>
            <mat-card-content> <span class="summaryContent">{{ note.summary }}</span>
            </mat-card-content>
            <span class="dots">...</span>
            <mat-card-footer><span class="footerLeft">
                <span>Start date {{note.startDate | date: "dd.MM"}}</span>
                <span>Duration {{ (note.endDate/1000 - note.startDate/1000) / (3600 * 24) + 1 }} Day<span
                    *ngIf="note.endDate-note.startDate > 86300">'s</span></span>
              </span><span class="footerRight">{{labels[1]?.text}}</span>
            </mat-card-footer>
          </mat-card>
        </div>
      </td>
    </tr>
    <!--  -->
    <!-- Table Security Row -->
    <tr *ngIf="isSecurity" [class.darkBg]="isDarkMode">
      <td>{{labels[2]?.text}}</td>
      <td *ngFor="let item of [].constructor(5); let i = index ">
        <div class="taskCardWrap" *ngFor="let note of mappedTasks.security[startIndex+i]; let s = index"
          [ngStyle]="{'left.px': s*stackOffsetX, 'top.px': s*stackOffsetY,'height.px': cardHeight, 'width.px': (cardWidth * ((note.endDate/1000 - note.startDate/1000) / (3600 * 24) + 1))}"
          matTooltip={{note.summary}} matTooltipPosition="above" matTooltipClass="card-tooltip"
          [class.empty]="!note.labels.includes(3)">
          <mat-card class="taskCard" [class.darkCard]="isDarkMode" (click)="editNote(note)">
            <mat-card-title><span class="notesId rem-border"> {{ note.id }} </span>{{ note.title }}</mat-card-title>
            <mat-card-content> <span class="summaryContent">{{ note.summary }}</span>
            </mat-card-content>
            <span class="dots">...</span>
            <mat-card-footer><span class="footerLeft">
                <span>Start date {{note.startDate | date: "dd.MM"}}</span>
                <span>Duration {{ (note.endDate/1000 - note.startDate/1000) / (3600 * 24) + 1 }} Day<span
                    *ngIf="note.endDate-note.startDate > 86300">'s</span></span>
              </span><span class="footerRight">{{labels[2]?.text}}</span>
            </mat-card-footer>
          </mat-card>
        </div>
      </td>
    </tr>

  </table>

</div>
